.smallID {
  font-size: 10px;
}

.description2 {
  pointer-events: none;
  text-decoration: none;
}

.center-justified {
  text-align: justify;
  text-align-last: left;
}

table td {
  display: table-cell;
  vertical-align: top;
}

.ProductItemTD {
  display: table-cell;
  vertical-align: top;
}

.divMax {
  display:block;
  justify-content: center;
  align-items: center;
  width:200px;
  height:200px;
  overflow:hidden;
}

.imgMax {
  max-width: 100%;
  max-height: 100%;
}