.BtnSpace
{ width:100px;
  margin-right:100px;
}
.BtnGroup{
  display: flex;
  justify-content: center;

  padding: 1rem;
 
}


.DialogBox__content {
  
  text-align: center;
  justify-content: center;
  align-items: center;
  clear: left;
  padding: 1rem;
  
}


.DialogBox {
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
    z-index: 30;
    

  }
  
  .DialogBox__header {
    padding: 1rem;
    background: #5101d1;
    color: white;
  }
  
  .DialogBox__header h1 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  
  @media (min-width: 768px) {
    .DialogBox {
      width: 30rem;
      top:calc((100% - 10rem) / 2);
      left: calc((100% - 30rem) / 2);
    }
  }
